<%= form_with(model: project) do |form| %>
  <% if project.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
        <% project.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<form>
  <div class="d-grid gap-2 col-9 mx-auto">
    <label for="formGroupExampleInput" class="form-label">Name</label>
    <input type="text" class="form-control" id="formGroupExampleInput" aria-label="name" aria-describedby="button-addon2">
  </div>
  <div class="d-grid gap-2 col-9 mx-auto">
    <label for="formGroupExampleInput" class="form-label">Description</label>
    <input <type="text" class="form-control" id="formGroupExampleInput" aria-label="Description" aria-describedby="button-addon2">
  </div>
<br/>
  <div class="d-grid gap-2 d-md-block col-3 mx-auto">
    <%= form.submit %>
  </div>
</form>
<% end %>
