
  <figure class="text-center">
    <blockquote class="blockquote">
      <h1>Edit Project</h1>
    </blockquote>
  </figure> 
  
  <%= render 'projects/sidebar' %>

  <%= render "form", project: @project %>
  
  <% link_to "Back to projects", projects_path, class:"btn btn-secondary" %>
