
<% if user_signed_in? %>

  <figure class="text-center">
    <blockquote class="blockquote">
        <h1>Projects</h1>
    </blockquote>
  </figure>  
  

  <div id="projects">
    <% @projects.each do |project| %>
      <% if project.user == current_user %>
      <div class="card" style="width: 18rem;">
      <h4 class="card-header text-bg-success"><%= link_to project.name, project%> 
    </h4>
        <div class="card-body">
        <h6 class="card-title"> <%= project.description %></h6>
          <p class="card-text"></p>
          </div>
          <div class="card-footer btn-group text-bg-secondary" role="group" aria-label="Basic example">
          <%= project.user_id %>
              <%= button_to "Delete", @project, method: :delete, class:"btn btn-secondary btn-sm" %>
        </div>
        <% end %>
        </div>
      </div>
    <% end %>
  </div>

<% else %>
  <h1>Colaborate</h1>


<% end %>