<p style="color: green"><%= notice %></p>

<figure class="text-center">
  <blockquote class="blockquote">
      <h1>Projects</h1>
  </blockquote>
</figure>  


<div id="projects">
  <% @projects.each do |project| %>
    <%= render project %>
    <p>
      <%= link_to "Show this project", project %>
    </p>
  <% end %>
</div>

<%= link_to "New project", new_project_path %>
