<figure class="text-center">
  <blockquote class="blockquote">
      <h1 class="fw-bold">New Project</h1>
  </blockquote>
</figure>  

<%= render "form", project: @project %>

<br>

<div>
  <% link_to "Back to projects", projects_path, class:"btn btn-secondary" %>
</div>
